langchain
langchain_core
langchain_google_community
langchain-google-community[gmail]
langchain_groq
langchain_openai
langgraph
protobuf
python-dotenv
Requests
google.cloud
google.api_core
google-cloud-pubsub
faiss-cpu
